html {
    font-family: "Lora", serif;
    font-size: 16px;
}

body {
    background-color: #08210f;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

header {
    background-image: url(../imagenes/fondo1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 100%;
    max-width: auto;
    height: 25vh;
    padding-top: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    display: flex;
    width: 100%;
    max-width: auto;
    padding-top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
}

.barra-principal {
    background-color: rgba(4, 39, 23, 0.744);
    box-shadow: 0px 3px 5px (0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    width: 100%;
    padding: 10px 0;
    display: flex;
    position: fixed;
    z-index: 1000;
    justify-content: flex-end;
    top: 0;
}

.barra-principal ul {
    display: inline-block;
    list-style: none;
    margin: 0;
}

.barra-principal li {
    display: inline-block;
    margin: 0 10px;
}

.barra-principal a {
    text-decoration: none;
    color: #dabc28;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    transition: font-size 0.3s ease;
}

.barra-principal a:hover {
    color: #dabc28;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    transition: font-size 0.3s ease;
}

.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    height: 25vh;
}

.logo {
    width: auto;
    height: 70%;
    max-height: auto;
    margin: 0;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.8rem;
    color: #040f07;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.encabezado h2 {
    font-size: 1.5rem;
    color: #08210f;
    display: flex;
    align-items: center;
    justify-self: center;
    margin-top: 0;
}

.presentacion {
    display: flex;
    width: 100%;
    max-width: auto;
    background-color: rgba(6, 69, 41, 0.829);
    box-shadow: 0 3px 5px (0, 0, 0, 0.5);
    box-sizing: border-box;

}

.inicio {
    width: 100%;
    max-width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.inicio h2 {
    width: 100%;
    max-width: auto;
    font-size: 1.5rem;
    color: #a8e4b7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
}

.inicio h3 {
    margin: 0;
    color: #a8e4b7;
    padding: 1%;
}

.inicio p {
    display: flex;
    margin: 0;
    margin-top: 1%;
    color: #a8e4b7;
    padding-bottom: 1%;
    justify-items: flex-start;
}

.video {
    width: 100%;
    max-width: auto;
    background-color: rgba(97, 134, 117, 0.744);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(97, 134, 117, 0.744);
    margin: 0%;
}

.video video {
    width: 60%;
    max-width: auto;
    margin: 0;
}

.navegador-interno {
    display: grid;
    grid-template-columns: 1fr 6fr;
    width: 100%;
    max-width: auto;
    height: 28vh;
    box-shadow: 0px 3px 5px (0, 0, 0, 0.5);
    margin-top: 1%;
    margin-bottom: 1%;
    gap: 1rem;
}

.barra-navegacion {
    background-color: rgba(6, 69, 41, 0.829);
    backdrop-filter: blur(10px);
    border: 1px solid #040f07;
    box-shadow: 0px 3px 5px (0, 0, 0, 0.5);
    border-radius: 8px;
}

.barra-navegacion ul {
    display: flex;
    align-items: flex-start;
    justify-items: center;
    flex-direction: column;
}

.barra-navegacion a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.05rem;
    transition: font-size 1s, background-color 1s;
    border-radius: 7px;
}

.barra-navegacion a:hover {
    font-size: 1.2rem;
    background-color: #08210f;
    color: #dabc28;
    border-radius: 6px;
}

.nosotros {
    display: grid;
    overflow: auto;
    grid-template-rows: 1fr 1fr 1fr;
    box-sizing: border-box;
    gap: 2rem;
    height: 28vh;
}

.nosotros h3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 0;
}

.item {
    background-color: rgba(6, 69, 41, 0.829);
    color: #a8e4b7;
    padding: 1% 0 1% 1%;
    height: 100%;
    border-radius: 8px;
}

.sub-titulo {
    display: flex;
    justify-content: center;
    background-color: #a8e4b7;
    width: 100%;
    max-width: auto;
    margin: 8px 0 8px 0;
    border-radius: 10px;
}

.reseñas {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    grid-auto-columns: 50%;
    width: 100%;
    gap: 1.5rem;
    box-sizing: border-box;
}

.reseña {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 4%;
    margin: 1% 1% 3% 0;
    border-radius: 10px;
    border: 2px solid #08210f;
    background-color: rgba(6, 69, 41, 0.829);
}

.reseña p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a8e4b7;
}

.contacto {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 1rem;
    box-sizing: border-box;
    width: 100%;
    max-width: auto;
    color: #a8e4b7;
}

.sub-contacto {
    background-color: rgba(6, 69, 41, 0.829);
    box-sizing: border-box;
    padding: 1% 0 1% 1%;
    justify-items: center;
}

.sub-contacto p {
    display: flex;
    justify-content: center;
    align-items: start;
}

.sub-contacto a {
    display: flex;
    color: #d8f4d8;
    text-decoration: none;
    transition: font-size 1s, background-color 1s;
    padding: 1%;
    justify-content: center;
    align-items: center;
}

.sub-contacto a:hover {
    color: #dabc28;
    background-color: #08210f;
    font-size: 1.2rem;
    border-radius: 8px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.estructura {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    max-width: auto;
    place-content: center;
    box-sizing: border-box;
    height: 100%;
}

.contenido-1 {
    display: grid;
    grid-template-rows: 1fr 8fr;
    width: 100vw;
    max-width: 100%;
    max-height: 40vh;
    box-sizing: border-box;
}
.contenido-1 h3 {
    background-color: rgba(6, 69, 41, 0.829);
    color: #edf0ed;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}
.ofertas {
    background-color: rgba(6, 69, 41, 0.829);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 95%;
    justify-content: space-evenly;
    box-sizing: border-box;
    max-width: 100%;
    grid-auto-columns: 45%;
    height: 100%;
    gap: 10%;
    padding: 1% 5% 1% 5%;
    box-sizing: border-box;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95%;
    padding: 0 0 1px 0;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #08210f;
    background-color:aliceblue;
    transition: transform 1s, font-size 1s, background-color 1s;
}
.producto:hover {
    transform: scale(1.2);
    background-color: rgb(53, 219, 178);
}
.producto h4 {
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
    color:#08210f;
    justify-content: center;
    align-items: center0;
}
.producto img {
    max-width: 100%;
    max-height: 95%;
    object-fit: contain;
    display: block;
    padding: 0 0 1% 0;
}

.contenido-2 {
    display: grid;
    grid-template-columns: 1fr 6fr;
    width: 100%;
    max-width: auto;
    height: 36vh;
    box-shadow: 0px 3px 5px (0, 0, 0, 0.5);
    margin-top: 1%;
    margin-bottom: 1%;
    gap: 1rem;
}
.contenido-2 h3 {
    background-color: rgba(6, 69, 41, 0.829);
    color: #edf0ed;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    margin: 8px 0 0 0;
}

.navegacion-productos {
    background-color: rgba(6, 69, 41, 0.829);
    backdrop-filter: blur(10px);
    border: 1px solid #040f07;
    box-shadow: 0px 3px 5px (0, 0, 0, 0.5);
    border-radius: 8px;
    margin-top: 1%;
}

.navegacion-productos ul {
    display: flex;
    align-items: flex-start;
    justify-items: center;
    flex-direction: column;
}

.navegacion-productos a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.05rem;
    transition: font-size 1s, background-color 1s;
    border-radius: 7px;
}

.navegacion-productos a:hover {
    font-size: 1.2rem;
    background-color: #08210f;
    color: #dabc28;
    border-radius: 6px;
}
.productos1 {
    display: grid;
    overflow: auto;
    grid-template-rows: 1fr 1fr 1fr;
    box-sizing: border-box;
    gap: 2rem;
}

.productos1 h3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1%;
    padding: 1% 0 1% 0;
    border-radius: 8px;
}

.materiales, .seguridad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
    box-sizing: border-box;
    height: 100%;
    gap: 5%;
    row-gap: 5%;
}

footer {
    background-image: url(../imagenes/fondo1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #a8e4b7;
}